*{
	margin:0;
	padding:0;
}
body{
	font-family: Roboto;
	background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.container{
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	background-color: #f7f7f7;
	width: 360px;
	margin:100px auto 0 auto; 
}
.fa-plus{
	float: right;
}
span{
	background-color:#e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	transition: 0.3s linear;
	display: inline-block;
	opacity: 0;
}
li:hover span{
	opacity: 1;
	width: 40px;
}
ul{
	margin:0;
	padding:0;
}
h1{
	text-transform: uppercase;
	font-size: 24px;
	padding:10px 20px;
	text-align: left;
	font-weight: 400;
	color: white;
	margin:0;
	background-color: #2980e9;
}
.completed{
	color: #404040;
	text-decoration: line-through;
}
li{
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	list-style: none;
	color: #666;
	font-weight: 300;
	font-size: 1rem;
}
li:nth-child(2n){
	background-color:#B8B8B8; 
}
input{
	box-sizing: border-box;
	padding:13px 13px 13px 20px;
	border:0;
	color:#2980b9;
	background-color:#b8b8b8;
	width: 100%;
	font-size:18px;
	border:3px solid rgba(0,0,0,0);
}
input:focus{
	background-color: white;
	border:3px solid #2980b9;
	outline: none;
}
.fa-plus{
	cursor: pointer;
}
.fa-trash{
	cursor: pointer;
}